* {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .socials {
    display: flex;
  }

  p {
    max-width: 40em;
  }
}

aside {
  padding: 10px 10vw;
  display: flex;
  justify-content: center;
}

.asideContainer {
  max-width: 1500px;
  flex: 1;
}

#projectsContainer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

.projectCard {
  background-color: gray;
  max-width: 300px;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

.mainImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  float: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 200px;
    width: auto;
    object-fit: contain;
    transform-origin: bottom right;
  }

  p {
    position: absolute;
    bottom: 15px;
    font-size: 26px;
    color: black;
    font-weight: 700;
    z-index: 2;
  }
}
.ribbon {
  background-color: aqua;
  background-image: url(../img/white-triangle.svg);
  background-repeat: no-repeat;
  background-size: 101% 101%;
  background-position: left;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media (min-width: 600px) {
  main {
    padding: 50px 10vw;
  }

  .ribbon {
    height: 300px;
  }
  .information {
    display: block;
    background-color: white;

    h2 {
      margin-top: 30px;
      text-align: center;
      font-size: 28px;
    }
  }

  .mainImg {
    top: 11px;

    img {
      transform: scale(1.4);
    }

    p {
      right: -131px;
      top: -68px;
      font-size: 30px;
    }
  }

  #projectsContainer {
    justify-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .information {
    display: block;
    background-color: white;

    h2 {
      margin-bottom: 10px;
      margin-top: 0px;
      text-align: left;
      font-size: 28px;
    }
  }

  .mainImg {
    top: 11px;

    img {
      transform: scale(1.7);
      transform-origin: center right;
    }

    p {
      right: 43px;
      font-size: 30px;
      top: auto;
      bottom: -45px;
      width: 200px;
    }
  }
}
